/* || VARIABLES */
:root {
    --black: rgb(6,6,6);
    --grey: #161618;
    --turqoise: #17b890;
    --white: #fff;
}

/* || ANIMATIONS */
@keyframes nameEntrance {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale (1.0);
    }
}

@keyframes nameSmoke {
    from {
        background-position:0 0;
    }
    to {
        background-position:10000px 0;
    }
}

@keyframes bouncing {
	0%, 100%, 20%, 50%, 80% {
		transform:         translateY(0)
	}
	40% {
		transform:         translateY(-20px)
	}
	60% {
		transform:         translateY(-10px)
	}
}

.nameHero .btn:hover {
    color: var(--white);
    scale: 1.01;
    background-color: var(--turqoise);
    border: var(--white) double 1px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 14px 15px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(-1px);
    animation-name: none;
}

.logo:hover {
    transform: translateY(-5px);
    scale: 1.1;
}

.navbar-nav a:hover{
    border-bottom: 0.1px var(--turqoise) solid;
    box-shadow: rgba(3, 255, 133, 0.1) 0px 14px 16px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cardProject:hover {
    scale:1;
    border: 2px solid var(--turqoise); 
    transform: translateY(-5px);
}

.fa-brands:hover {
    scale: 1.1;
    transform: translateY(-5px);
}

.static:hover {
    opacity: 0;
}

/* || GLOBAL */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 3.8rem;
    overflow-x: hidden;
}

body {
    font-family: 'Inter';
    background-color: var(--black);
    overflow-x: hidden;
}

.my {
    color: #17B890;
}

/* || CUSTOM STYLES */
/* Jumbotron */
.nameHero {
    height: 100vh;
    background-image: url(../images/nameimagebw-min.jpg);
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-color: var(--black);
}

.nameHero h1 {
    animation: nameEntrance 1.75s ease-in-out;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.3);
    position: relative;
    z-index: 2;
}

.nameHero p {
    animation: nameEntrance 1.75s ease-in-out;
    position: relative;
    z-index: 2;
}

.myHero {
    animation: nameEntrance 3s ease-in-out;
}

.profilePhoto {
    height: 20em;
}

.nameHero .btn {
    color: var(--turqoise);
    border: 2px var(--turqoise) solid;
    margin-top: 20px;
    animation: nameEntrance 1.75s ease-in-out;
    position:relative;
    z-index: 2;
    transition: 0.2s ease-in;
    animation-name: bouncing;
    animation-iteration-count:infinite;
}

.smoke {
    background:transparent url(../images/smoke.png) repeat top center;
    background-attachment: fixed;
    opacity: 0.35;
    animation:nameSmoke 200s linear infinite;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}

/* Header */
.navbar {
    background-color: var(--black);
}

.navbar-toggler {
    color: var(--white);
}

.navbar-nav a{
    transition: 0.5s;
}

.dropdown-menu {
    margin-right: 12rem;
}

.dropdown-item {
    color:var(--turqoise)
}

.logo {
    transition: 0.5s;
}
  
/* Projects */
.cardProject {
    background-color: var(--grey);
    color: var(--white);
    transition: 0.1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;

}

.card-img-top {
    height: 40vh;
    object-fit: cover;
}

.static {
    position: absolute;
    transition: 1s ease-in-out;
}

/* Story*/
.about {
    height: 100vh;
    background-image: url(../images/nameimagebw-min.jpg);
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.skillText {
    font-size: 10px;
}

.cardStory {
    color: var(--white);
    background-color: var(--grey);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

/* Footer */
.footer {
height: 10vh;
}

.footer .copyright {
    color: var(--white);
}

.fa-brands {
    color: var(--turqoise);
    transition: 0.5s;
}

/* || Media Queries */
/* Removes bg image & animations to improve mobile speed + scale text */
@media (max-width:425px) {
    .about, .nameHero, .smoke {
        background-image: none;
    }
    
    .card-text {
        font-size: 12px
    }

    .nameHero h1 {
        font-size:  50px;
    }
}


