/* || VARIABLES */
:root {
    --black: rgb(6,6,6);
    --grey: #161618;
    --turqoise: #17b890;
    --white: #fff;
}

/* || ANIMATIONS */
@keyframes nameEntrance {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale (1.0);
    }
}

@keyframes nameSmoke {
    from {
        background-position:0 0;
    }
    to {
        background-position:10000px 0;
    }
}


/* || GLOBAL */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 3.8rem;

}

body {
    font-family: 'Inter';
    background-color: var(--black);
}

.my {
    color: #17B890;
}

/* || CUSTOM STYLES */

/* Jumbotron */
.nameHero {
    height: 100vh;
    background-image: url(/images/nameimagebw.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.nameHero h1 {
    animation: nameEntrance 1.75s ease-in-out;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.3);
    position: relative;
    z-index: 2;
}

.nameHero p {
    animation: nameEntrance 1.75s ease-in-out;
    position: relative;
    z-index: 2;
}

.myHero {
    animation: nameEntrance 3s ease-in-out;


}

.profilePhoto {
    height: 20em;
}

.nameHero .btn {
    color: var(--turqoise);
    border: 2px var(--turqoise) solid;
    margin-top: 20px;
    animation: nameEntrance 1.75s ease-in-out;
    position:relative;
    z-index: 2;
}

  .smoke {
    background:transparent url(/images/smoke.png) repeat top center;
    background-attachment: fixed;
    opacity: 0.35;
    animation:nameSmoke 200s linear infinite;
    position:absolute;
    top:0;
    left:0px;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
  }
  

/* Header */
.navbar {
    background-color: var(--black);
}

.navbar-toggler {
    color: var(--white);
}

.dropdown-menu {
    margin-right: 12rem;
}

.dropdown-item {
    color:var(--turqoise)
}

/* Projects */
.card {
    width: 30rem;
}


/* Story, Skills, Contact */
.about {
    height: 85vh;
    background-color: var(--grey);
    background-image: url(/images/nameimagebw.jpg);
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

/* Story */

.skillText {
    font-size: 10px;
}

/* Footer */

.footer {
    height: 10vh;
    background-color:var(--black);
}

.footer .copyright {
    color: var(--white);
}

.footer .fa-brands {
    color: var(--turqoise);
}
